.typewriter{
    font-size: 60px;
    color: orange;
    
}
.icon:hover {
    cursor: pointer;
    color: orange; 
    transform: scale(1.1); /* Increase size on hover */
    transition: transform 0.2s ease; /* Smooth transition */
}
.textJust{
    text-align: justify;
}
